  <header class="header">
    <a href="index.html">
            <img src="images/logo.png" alt="">
    </a>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item--active">
                <a href="index.html">Home</a>
            </li>
            <li class="menu__item">
                <a href="projects.html">Projects</a>
            </li>
            <li class="menu__item">
                <a href="cv.html">Curriculum Vitae</a>
            </li>
            <li class="menu__item">
                <a href="mailto:carlos_daniel_campos@hotmail.com">Contact me</a>
            </li>
        </ul>
    </nav>
  </header>