{% extends "layout.html" %}

{% set title = 'Welcome' %}
{% set page = 'home' %}

{% block content %}
<main>
  <section class="hero">
    <div class="container">
      <h1 class="subtitle">Carlos Campos</h1>
      <h2 class="title is-1">
        Frontend Web Developer based in Porto.
        <br>
        Some bullshit.
      </h2>
    </div>
  </section>
  
<class class="row">
  <div class="column is-4">
    <div class="card">
      <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
</class>
<div class="row">
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <span>
          <i class="fab fa-html5"></i>
        </span>
        <h4 class="title is-4">Section 1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
          Praesentium,
          doloremque?
        </p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <span>
          <i class="fab fa-css3-alt"></i>
        </span>
        <h4 class="title is-4">Section 1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
          Praesentium,
          doloremque?
        </p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <span>
          <i class="fab fa-js-square"></i>
        </span>
        <h4 class="title is-4">Section 1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
          Praesentium,
          doloremque?
        </p>
      </div>
    </div>
  </div>
</div>
</div>
  <section class="section call-to-action" style="margin-bottom:-5rem">
    <div class="container">

    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="column">
            <h4 class="title is-4">Get in touch</h4>
          </div>
          <div class="column">
            <a href="mailto:j.costa.3394@gmail.com?subject=Hello%20José!" class="button is-primary is-pulled-right">Contact me!</a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>
</div>
</main>

{% endblock content %}