{% extends "layout.html" %}

{% set title = 'Welcome' %}
{% set page = 'home' %}

{% block content %}
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="column is-6">
      <h1 class="subtitle">Carlos Campos</h1>
      <h2 class="title is-1">
        Frontend Web Developer based in Porto.
      </h2>
      </div>
      <div class="column is-6">
      <figure>
      <img src="images/img.up.svg" alt="" style="width: 500px; height: 300px;"> 
  </figure>
  </div>
  </div>
  </div>
</section>
<main>
  <div>
    <h1 class="title is-2" style="text-align: center; color:#4a4d57; padding: 45px;">Portfolio</h1>
  </div>
<div class="row">
  <div class="column is-4">
    <div class="card">
      <div class="name-site">I will show on hover</div>
      <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <img src="images/noticiascidade.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <img src="images/museunacional.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="column is-4">
    <div class="card">
      <img src="images/hotel.png" alt="" style="width: 100%;
      height: auto;">
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <span style="position: absolute;
      margin-top: 20%;
      width: 100%;
      text-align: center;
      font-size: 18px;
      border-bottom: 2px solid;"> View All Work</span>
    </div>
  </div>
</div>
</class>
<div>
  <h1 class="title is-2" style="text-align: center; color:#4a4d57; padding: 45px;">Section</h1>
</div>
<div class="row">
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <span>
          <i class="fab fa-html5"></i>
        </span>
        <h4 class="title is-4">Section 1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
          Praesentium,
          doloremque?
        </p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <span>
          <i class="fab fa-css3-alt"></i>
        </span>
        <h4 class="title is-4">Section 1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
          Praesentium,
          doloremque?
        </p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <span>
          <i class="fab fa-js-square"></i>
        </span>
        <h4 class="title is-4">Section 1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
          Praesentium,
          doloremque?
        </p>
      </div>
    </div>
  </div>
</div>
</div>
  <section class="section call-to-action" style="margin-bottom:-5rem">
    <div class="container">

    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="column">
            <h4 class="title is-4">Get in touch</h4>
          </div>
          <div class="column">
            <a href="mailto:j.costa.3394@gmail.com?subject=Hello%20José!" class="button is-primary is-pulled-right">Contact me!</a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>
</div>
</main>

{% endblock content %}