{% extends "layout.html" %}

{% set title = 'Projects' %}

<!-- Main content -->
{% block content %}
<div class="container">
    <div class="content-projects">
        <div class="row">
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <img src="images/spotify.png" alt="" style="width: 100%;
      height: auto;">
                <div class="info-project">
                    <h3>Spotify Clone</h3>
                    <div>
                        Html<br>CSS<br>Bottstrap
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}